body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2em;
}

.top-container{
  background-color: #CEE5D0;
}
h1{
  margin: 0 auto 0 auto;
  padding-top: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
  text-decoration: none;

}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  width: 6%;
  margin: 50px auto;
}

.skill-row{
  width: 60%;
  margin: 100px auto;
  line-height: 1.5;
  font-size: 60%;
  text-align: left;
}
.cloud2{
  position: absolute;
  top:270px;
  left: 250px;
}
.cloud1{
  position: absolute;
  right: 250px;
top: 70px;
}
.image{
  border-radius: 100px;
  margin-top: 10px;
}
.intro{
  width: 50%;
  margin: auto;
  font-size: 60%;
}

.skills-img{
  float: left;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.hoop{
  float: right;
  margin-left: 65px;
  line-height: 3;
}
.middle-container{
  margin: 100px 0;
}
.contact-me{
  font-size: 60%;
  width: 40%;
  margin: 10px auto;
}
.bottom-container{
  width: 100%;
  margin: 10px auto;
  font-size: 50%;
  background-color: #66BFBF;
  padding-top: 20px;
  margin: 0;
}
.footer-link{
  color: black;
  padding: 5px;
}
.work-with-me{
  padding-bottom: 20px;
}
a:hover{
  color: #EAF6F6;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.getintouch{
  padding: 0px;
}
.shreyaa{
  margin: 0;
  font-size: 0.75rem;
  padding: 20px 0;
}
.copyright{
  font-size: 0.75rem;
  padding: 20px 0;
}
